DATABASE_URL="postgresql://postgres.xvjrmochaeqswdwusmob:terraria555!@aws-1-eu-central-1.pooler.supabase.com:6543/postgres?pgbouncer=true&connection_limit=100"
DIRECT_URL="postgresql://postgres.xvjrmochaeqswdwusmob:terraria555!@aws-1-eu-central-1.pooler.supabase.com:5432/postgres"
JWT_SECRET="change-me-in-production-use-long-random-string"
PORT=3001
